/* CSS resets, these can be ignored */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END CSS resets */

/* Basic theme coloring and typrgraphic scale, this shouldnt change */
body {
  background-color: #F3F7FA;
}

nav {
  z-index: 40;
  background-color: #193144;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 62px;
  margin-bottom: 8px;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 8px;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

p, a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

nav ul {
  list-style: none;
  margin: 0 10%;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav .active {
  text-decoration: underline;
}

.content {
  width: 1000px;
  margin: 40px auto;
}

section {
  margin: 40px 0;
}


/* Style for event elements, cards are sqare elements, bars are the longer elements*/
.event {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px 25px;
}

/* Style for a base event card */
.event-card {
  cursor: pointer;
  width: 300px;
  margin: 10px;
}

/* Style for components of a base event card */
/* Style for a base event card details, mostly positioning */
.event-card-details {
  display: grid;
  grid-template-columns: 25px minmax(0px, 1fr);
  grid-template-rows:48px;
  align-content:flex-start;
  grid-column-gap: 5px;
  grid-row-gap: 3px;
}

.event-card h3 {
  height: 66px;
  display: flex;
  align-items: center;
}

.event-card-details p{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.event-card-details > * {
  overflow: hidden;
}

/* Style for a base event bar */
.event-bar {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 25% auto;
  margin: 10px auto;
}
/* Style for components of a base event bar */
.event-bar-title {
  margin: auto 0 ;
  grid-column-start: 1;
  grid-column-end: 1;
}

.event-bar-details {
  display: grid;
  margin-left: 10px;
  grid-template-columns: 25px minmax(0px, 1fr);
  align-content:flex-start;
  grid-row-gap: 3px;
  grid-column-gap: 5px;
}

.event-bar-expand {
  position: absolute;
  right: 7px;
  top: 7px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

button.button-no-style {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: none;
  background-color: none;
}

/* Styling for user icons */
/* Position the bottom right of a card */
.event-user-status {
    position: absolute;
    right: 7px;
    bottom: 7px;
}

/* General user icon styles */
.user-icon {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  border: 1px solid black;
}

/* User icon styling in context of a list */
.user-icon-list .user-icon {
  height:40px;
  width:40px;
  display: inline-flex;
  overflow: hidden;
  vertical-align: top;
  margin-left: -10px
}

.user-icon-list {
  height:40px;
  display: inline-block;
}

.expanded-participants {
  text-align: center;
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr);
}

.category-card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 325px;
  width: 225px;
  margin: 0 10px;
  padding: 0;
}

.category-card input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.category-card input:checked ~ .backdrop{
  border: 5px solid green;
  border-radius: 10px;
}

.category-card .backdrop {
  z-index: 5;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0, 0.2);
  background: linear-gradient(0deg, rgba(25,49,68,0.4) 0%, rgba(0,0,0,0.1) 66%);
}

.category-card img {
  display: block;
  position: relative;
  object-fit: cover;
  height: 100%;
  width: auto;
}

.category-card h3 {
  z-index: 10;
  color: #F6F6F6;
  font-weight: bold;
  padding: 0 10px;
  margin: 0;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.popup-wrapper {
  z-index: 200;
  top:0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.expanded-bottom-buttons button {
  margin: 14px 3px 7px;
}

.expanded-bottom-buttons {
  float: right;
}

.popup .event-expanded-tags {
  display: grid;
  grid-template-columns: 24px 1fr 24px 1fr;
  grid-column-gap: 7px;
  margin: 15px 0;
}

.event-expanded .line {
  margin: 15px 0;
}

.event-expanded ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

.line {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}

.popup-hidden {
  display: none;
}

.popup {
  z-index: 200;
  width: 700px;
  overflow: auto;
  max-height: calc(100vh - 200px);
  background-color: #F3F7FA;
  padding: 20px 30px;
  margin: 100px calc(50% - 350px);
  border-radius: 10px;
  border: 3px solid #a8b4bd;
  position: relative;
}

.popup .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Styles for scrolling (needs some work) */
.scroll-full-width {
  /*width: 100%;
  overflow: auto;*/
}

.scroll-event-cards {
  display: flex;
  justify-content: center;
  /*height: 190px;*/
}

.scroll-full-width{
  overflow-x: auto;
}

.profile-page{
  align-content: center;
  text-align: center;
}
.profile-pic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-bottom: 20px;
}
.profile-buttons {

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.vl{
  border-left: 6px solid gray;
  border-radius: 5px;
  height: 100px;
}
.profile-background{
  border-radius: 10px;
  padding-top: 20px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.create-page{
  display: flex;
}
.create-left{
  flex: 1;
  padding-right: 5%;
  text-align: center;

}
#createButton{
  background-color: green;
  margin-top: 100px;
  color: white;
  width:100px;
  height: 50px;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}
.create-right{
  flex: 3;
  width: 65%;
  border-left: 6px solid gray;
  border-radius: 6px;

}
.create-input{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
  padding-left: 30px;
  display: flex;
}
.create-input label{
  padding-right: 30px;
  flex:1;
}
.create-input input{
  padding-right: 30px;
  flex:2;
}
.create-input textarea{
  padding-right: 30px;
  height: 130px;
  flex:2;
}
.create-input .time{
  flex:2;
  display: flex;
  justify-content: flex-start;
}

.add-game{
  display: flex;
  justify-content: flex-end;
}
.add-game p{
  padding-right: 5px;
}
.add-game button{
  display: flex;
  background-color: none;
}
.game-tags{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 30px;
}
.game-tags  input{
  display: none;
}
.game-tags label {
  display: flex;
  justify-content: center;
  background: none;
  width: 150px;
  height: 30px;
  text-align: center;
  border: 3px solid black;
  border-radius: 50px;
}
#createRPG:checked ~ label[for="createRPG"],
#createBG:checked ~ label[for="createBG"],
#createCG:checked ~ label[for="createCG"],
#createVG:checked ~ label[for="createVG"]{
  border-color: green;
  background-color: #abffba;
}
.date{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}
.date label{
}
.date input{
  width: 100px;
}
.sign-page{
  background-color: rgb(58, 38, 99);
  background-repeat:repeat-x;
  background-position:bottom;
  background-image: url('https://us.123rf.com/450wm/pskov/pskov1809/pskov180900015/109673905-.jpg?ver=6');
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.signup-content button {
  margin: 20px auto;
  display: block;
  width: 300px;
}

.signup-content button h3 {
  margin: 0;
}

.signup-content input {
  width: 100%;
  height: 48px;
  padding: 10px 15px;
  border-radius: 10px;
  border:none;
}

.signup-content h1, .signup-content a {
  text-decoration: none;
  text-align: center;
  color:black;
}

.signup-content {
  border-radius: 10px;
  margin: 200px auto;
  padding: 50px 70px 40px;
  width: 600px;
  background-color: rgba(214, 214, 214, 0.4);
}

.signup-content.profile-setup {
  width: 900px;
}

.signup-content.profile-setup h1 {
  text-align: left;
}

.signup-content p {
  margin-top: 10px;
}

.progress-bar {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 150px);
}

.progress-step {
  display: grid;
  grid-template-columns: 50px 100px;
}

.marker-circle p {
  margin: 0
}

.marker-circle-current {
  border:4px solid green;
}

div.marker-circle-complete {
  background-color: green;
}

.profile-fields .user-icon {
  margin: 32px auto;
  position: relative;
}

button.plus {
  height: 50px;
  width: 50px;
  font-size: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  right: -10px;
  bottom:-20px;
}

.profile-setup button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile-setup .setup-field {
  width: 70%;
  margin: 16px auto;
}

.marker-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: white;
}

button.setup-next {
  font-family: Roboto;
  font-size: 22px;
  height: 40px;
  width: 20%;
  margin:32px 0 0 65%;

}
